<?xml version="1.0"?>
<!--Copyright (c) Microsoft Corporation.  All Rights Reserved.-->
<configuration>

  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="MSMQ_Name" value=".\private$\EventsLogger"/>
    <add key="MSMQ_Address" value="net.msmq://localhost/private/EventsLogger"/>
    <add key="MSMQ_ServiceNamespace" value="EventAndStatsLoggerV1.0"/>
    <add key="ConnectionUri" value="http://Host:8888/Host/"/>
    <add key="LogDBName" value="EventAndStatsLog_DB"/>
    <add key="MaxDisplayedMessages" value="1000"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="EventAndStatsLog_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EventAndStatsLog;Integrated Security=SSPI;"/>

  </connectionStrings>
  
</configuration>