<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Workstation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MacroPlayBackStepDelay" value="0" />
    <add key="AlgServerAbsolutePath" value="C:\Cargo\Bin\AlgServer" />
    <add key="WorkstationAlias" value="AWSX1" />
    <add key="DisplayAlgThreatResults" value="true" />
    <add key="MaxCompareCases" value="2" />
    <add key="VersionNumber" value="2.0.0.0" />
    <add key="BuildNumber" value="50" />
    <add key="BuildDate" value="12/01/2010" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WorkstationMode" value="Analyst"/>
    <add key="ForceAutoSelect" value="true" />
    <add key="FlipView1XAxis" value="false" />
    <add key="FlipView1YAxis" value="false" />
    <add key="FlipView2XAxis" value="false" />
    <add key="FlipView2YAxis" value="false" />
    
    <add key="WCFDiscoveryProbeTimeoutPeriodSec" value="1"/>
    <!-- Values for the enableDiscoveryMangaedModeIWSComm are true, false or Auto.  If auto 
    application will start out with Ad-hoc and switch to managed if DiscoveryProxy sends
    Suppress multicast message, if discoveryProxy does not reply to Probe messages then
    it will switch to ad-hoc again. -->
    <add key="EnableDiscoveryManagedModeIWSComm" value="false"/>
    <add key="WcfDiscoveryProxyConnectionUri" value="net.tcp://localhost:8001/Probe"/>
    <add key="WcfTcpBindingReceiveTimeoutMin" value="3"/>
    <add key="WcfTcpBindingSendTimeoutMin" value="3"/>
    <add key="WsCommPingTimeoutMsec" value="30000"/>

    <!-- Default density alarm value and set on open. Value is from 0 to 1 -->
    <add key="DensityAlarmSetOnCaseOpen" value="false" />
    <add key="DensityAlarmDefaultValue" value="0.12"/>

    <!-- Default case filters when the Workstation starts up. No value will exclude the filter.
    An asterisk (*) will show the filter with no value. -->
    <add key="CaseFilterAnalystComment" value="*"/>
    <add key="CaseFilterCaseID" value="*"/>
    <!-- The number of days in the past to filter (integer value).  -->
    <add key="CaseFilterUpdateTime_DaysOld" value=""/>
    <add key="CaseFilterAnalyst" value=""/>
    <add key="CaseFilterFlightNumber" value=""/>
    <add key="CaseFilterObjectID" value=""/>
    <add key="CaseFilterArea" value=""/>
    <!-- The result types are: Unknown, Clear, Reject, or Caution -->
    <add key="CaseFilterResult" value=""/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Workstation.Properties.Settings>
      <setting name="COR_PROFILER" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="COR_ENABLE_PROFILING" serializeAs="String">
        <value>1</value>
      </setting>
    </Workstation.Properties.Settings>
  </userSettings>
</configuration>
