<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApcsAddress" value="192.168.0.90"/>
    <add key="ApcsPort" value="2730"/>
    <add key="ApcsSignOfLifeMsec" value="10000"/>
    <add key="PulseWidth1Microseconds" value="1"/>
    <add key="PulseWidth2Microseconds" value="2"/>
    <add key="PulseWidth3Microseconds" value="3"/>
    <add key="PulseWidth4Microseconds" value="4"/>
    <add key="DualPulseFrequency" value="200"/>
  </appSettings>
</configuration>