<?xml version="1.0"?>
<configuration>
  <!--System.Windows.Forms.jitDebugging=true/-->
  <system.windows.forms jitDebugging="true"/>
  <appSettings>
    <!--CargoHost Configuration -->
    <add key="host" value="192.168.0.254"/>
    <add key="port" value="2809"/>
    <!--End CargoHost Configuration -->

    <!--OCR Configuration -->
    <!-- ConnectAsListener:
            true  -> listen for OCR system to connect to this host
            false -> connect to OCR_host:OCR_port as a client
      -->
    <add key="ConnectAsListener" value="true"/>
    <!-- OCR_host
            When ConnectAsListener is true, OCR_host is this host's IP address.
            When ConnectAsListener is false, OCR_host is the IP address of the OCR server.
      -->
    <add key="OCR_host" value="192.168.0.254"/>
    <!-- OCR_port
            When ConnectAsListener is true, OCR_port is the port this host will listen on.
            When ConnectAsListener is false, OCR_port is the port on the OCR server to connect to.
      -->
    <add key="OCR_port" value="2056"/>

    <add key="OCR_MessagePrefix" value="OCRS" />
    <add key="CargoSenderName" value="PCS" />
    <!--End OCR Configuration -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
