<?xml version="1.0"?>
<configuration>  
  <configSections>
    <section name="operatorWidgetArea"
             type="L3.Cargo.Common.Configurations.WidgetAreaSection, L3.Cargo.Common.Configurations"
             allowDefinition="Everywhere"
             requirePermission="false" />
    <section name="supervisorWidgetArea"
         type="L3.Cargo.Common.Configurations.WidgetAreaSection, L3.Cargo.Common.Configurations"
         allowDefinition="Everywhere"
         requirePermission="false" />
    <section name="maintenanceWidgetArea"
         type="L3.Cargo.Common.Configurations.WidgetAreaSection, L3.Cargo.Common.Configurations"
         allowDefinition="Everywhere"
         requirePermission="false" />
  </configSections>
  <operatorWidgetArea configSource="WidgetOperator.ucf" />
  <supervisorWidgetArea configSource="WidgetSupervisor.ucf" />
  <maintenanceWidgetArea configSource="WidgetMaintenance.ucf" />
  <appSettings>
    <add key="SystemOperationMode" value="Supervisor"/>
    <add key="StartUpClean" value="True"/>
    <add key="VersionNumber" value="1.0.0" />
    <add key="BuildNumber" value="00" />
    <add key="BuildDate" value="01/01/2012" />
    <add key="SelectedLanguage" value="en"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/EventsLogger"
                binding="netMsmqBinding"
                bindingConfiguration="TransactedBinding"
                contract="L3.Cargo.Communications.EventsLogger.Interfaces.IEventsLogger"/>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="TransactedBinding">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
