<?xml version="1.0"?>
<supervisorWidgetArea>
  <widgetPage rows="580" columns="1340" page="1">
    <widgetDisplay name="DetectorRealTimeViewer"
                    row="0"
                    column="0"
                    rowspan="375"
                    columnspan="740" />
    <widgetDisplay name="SafetyPortalDisplay"
                    row="0"
                    column="740"
                    rowspan="375"
                    columnspan="600" />
    
    <widgetDisplay name="LinacState"
                    row="375"
                    column="0"
                    rowspan="405"
                    columnspan="447" />
    <widgetDisplay name="ScanState"
                    row="375"
                    column="447"
                    rowspan="405"
                    columnspan="446" />
    <widgetDisplay name="ScanAreaControls"
                    row="375"
                    column="893"
                    rowspan="405"
                    columnspan="447" />
  </widgetPage>
  <widgetPage rows="580" columns="1340" page="2">
    <widgetDisplay name="StartCalibrationControls"
                row="0"
                column="0"
                rowspan="175"
                columnspan="350" />
    <widgetDisplay name="LinacEnergySelection"
                    row="0"
                    column="350"
                    rowspan="175"
                    columnspan="990" />
  </widgetPage>
</supervisorWidgetArea>