<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/EventsLogger"
                binding="netMsmqBinding"
                bindingConfiguration="TransactedBinding"
                contract="L3.Cargo.Communications.EventsLogger.Interfaces.IEventsLogger"
                name="netMsmqEndPoint" />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="TransactedBinding">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>