<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Schiphol_Host_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=RECEPTION\SQLEXPRESS;Initial Catalog=Schiphol_ACXS;User Id=Foo;Password=douane"/>

    <add name="Schiphol_Host_Container_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=RECEPTION\SQLEXPRESS;Initial Catalog=Schiphol_ACXS;User Id=Foo;Password=douane"/>

    <add name="Schiphol_Host1_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=RECEPTION1\SQLEXPRESS;Initial Catalog=Schiphol_ACXS;User Id=Foo;Password=douane"/>
    
    <add name="Schiphol_Host1_Container_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=RECEPTION1\SQLEXPRESS;Initial Catalog=Schiphol_ACXS;User Id=Foo;Password=douane"/>

    <add name="Schiphol_CentralDB_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=CENTRALDB\SQLEXPRESS;Initial Catalog=Schiphol_ACXS;User Id=Foo;Password=douane"/>

    <add name="Local_SQLCE_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=caselist.sdf; Password=L3Admin"/>
  </connectionStrings>  
</configuration>