<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="host" value="host" />
    <add key="port" value="2809" />
    <add key="ConnectionUri" value="net.tcp://localhost:45678/ACSHost/"/>
    <add key="AllowedIPList" value="*"/>
    <!--!ACSMode: "Archive" or "Reference" -->
    <add key="ACSMode" value="Archive"/>
    <!-- CaseListSource: "File System" or "Database" -->
    <add key="CaseListSource" value="File System" />
    <!-- CaseListFileSystemPath: specify absolute path -->
    <add key="CaseListFileSystemPath" value="E:\TArch" />
    <!-- ReferenceFileSystemPath; specify absoute path -->
    <add key="ReferenceFileSystemPath" value="E:\RefArch" />
    <!-- DBName: Specify name property from the one of items from connectionStrings-->
    <add key="DBName" value="Schiphol_Host_DB"/>
    <add key="ServerName" value="HOST"/>
    <!-- DisplayCaseList: "true" or "false"-->
    <add key="UserProfiles" value="C:\CargoHost\UserProfiles" />
    <add key="EnableSelectLocalCaseFolder" value="True"/>
    <add key="EnableArchiveDecision" value="False"/>
    <add key="LoginRequired" value="False"/>
    <add key="MaxNumCasesPerBatch" value="16384"/>
    <add key="VersionNumber" value="1.0.0.0" />
    <add key="BuildNumber" value="50" />
    <add key="BuildDate" value="12/01/2010" />
    <add key="TrainingModeEnabled" value="False"/>
    <add key="ContainerDBPresent" value="False"/>
    <add key="ContainerRefreshPeriodSeconds" value="30"/>
    <add key="ArchiveDBName" value="Schiphol_Host_DB"/>
    <add key="ContainerDBName" value="Schiphol_Host_Container_DB" />
    <add key="LocalDBName" value="Local_SQLCE_DB"/>
    <add key="ConnectionsString" value="DatabaseConnection.config"/>
    <add key="CaseListLastUpdateTimeOffsetHours" value="2"/>    
    <add key="EnableFullSync" value="True"/>
    <add key="FullSyncPeriodicityDays" value="20"/>
    <add key="LastFullSyncDateTime" value=""/>

    <add key="WcfTcpBindingReceiveTimeoutMin" value="3"/>
    <add key="WcfTcpBindingSendTimeoutMin" value="3"/>
    <add key="WcfAnnouncementFrequencyPeriodSec" value="10"/>
    <add key="WcfAnnouncementConnectionUri" value="net.tcp://host:9021/Announcement"/>
    <add key="EnableWcfAnnouncement" value="true"/>
    <add key="GenerateThumbnail" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
