<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="host" value="192.168.0.254" />
    <add key="port" value="2809" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ConnectionUri" value="net.tcp://192.168.0.254:45987/WSCommHost/" />
    <add key="AvailableIPs" value="*" />
    <add key="AllowedIPList" value="*" />
    <add key="Alias" value="Host" />
    <add key="UserProfiles" value="C:\CargoHost\UserProfiles" />
    <add key="hostTempDirectory" value="C:\Temp" />
    <add key="MaxNumCasesPerBatch" value="100" />
    <add key="CTITemplateDirectory" value="\\centraldb\LocalCTI" />
    <add key="EnableArchiveDecision" value="true" />
    <add key="VersionNumber" value="2.0.0.0" />
    <add key="BuildNumber" value="50" />
    <add key="BuildDate" value="12/01/2010" />
    <add key="EnableTIP" value="False" />
    <add key="EnableMCArea" value="False" />
    <add key="ContainerRefreshPeriodSeconds" value="30" />
    <add key="ContainerDBName" value="Schiphol_Host_Container_DB" />
    <add key="ConnectionsString" value="DatabaseConnection.config" />
    <add key="WcfTcpBindingReceiveTimeoutMin" value="3" />
    <add key="WcfTcpBindingSendTimeoutMin" value="3" />
    <add key="WcfAnnouncementFrequencyPeriodSec" value="10" />
    <add key="WcfAnnouncementConnectionUri" value="net.tcp://192.168.0.252:9021/Announcement" />
    <add key="EnableWcfAnnouncement" value="false" />
    <add key="PingTimeoutMsec" value="30000" />
    <add key="GenerateThumbnail" value="true" />
    <add key="SendCaseListThumbnail" value="true" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>