<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DisplayPort" value="" />
    <add key="SubsystemPort" value="" />
    <add key="SubsystemServer" value="" />
    <add key="RealTimeViewerDataPort" value="2222"/>
    <add key="RealTimeViewerMulticastIPAddress" value="229.0.0.1"/>
  </appSettings>
</configuration>