<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CargoHostLocation" value="192.168.0.254" />
    <add key="CargoHostPort" value="2809" />
    <add key="ApplicationName" value="Dashboard" />
    <add key="ApplicationLocation" value="C:\Dashboard" />
  </appSettings>
</configuration>