<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="LinesPerDma" value="1" />
  <add key="ScanRate" value="300" />
  <add key="IntegrationTime" value="8333" />
  <add key="DelayPeriod" value="1867" />
  <add key="BytesPerPixel" value="2" />
  <add key="Spacial_Rate" value="1" />
  <add key="OverSample" value="1" />
  <add key="DmaBuffMultiplier" value="5" />
  <add key="Driver_MODE" value="1" />
  <add key="BytesPerPixel" value="2" />
  <add key="AdaptiveScan" value="0" />
  <add key="SplitDataLine" value="0" />
  <add key="DetPerBoard" value="16" />
  <add key="SPModeFname" value="C:\Pipe Data\Spatial" />
  <add key="TimeModeFname" value="C:\Pipe Data\Time" />
  <add key="NumofSkipLines" value="4" />
  <add key="MarkerSize" value="4" />
  <add key="EmulatorEnabled" value="0" />
</appSettings>
</configuration>