<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="opcSection"
         type="L3.Cargo.Common.Configurations.OpcSection, L3.Cargo.Common.Configurations"
         allowDefinition="Everywhere"
         requirePermission="false" />
  </configSections>
  <opcSection configSource="Opc.config" />
  <appSettings>
    <add key="DashboardPort" value="5595" />
    <add key="DisplayPort" value="5590" />
    <add key="SubsystemPort" value="5591" />
    <add key="AllowedIPList" value="CargoDevPC;Host;Dashboard1;Dashboard2;Dashboard3;Dashboard4;Host;AWS1;AWS2;FOLMABL1523" />
    <add key="Alias" value="Scan"/>
    <add key="TagGroup" value="ScanGroupPortal"/>
    <add key="Verbose" value="false"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/EventsLogger"
                binding="netMsmqBinding"
                bindingConfiguration="TransactedBinding"
                contract="L3.Cargo.Communications.EventsLogger.Interfaces.IEventsLogger"/>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="TransactedBinding">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>
