<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="opcSection"
         type="L3.Cargo.Common.Configurations.OpcSection, L3.Cargo.Common.Configurations"
         allowDefinition="Everywhere"
         requirePermission="false" />
  </configSections>
  <opcSection configSource="Opc.config" />
  <appSettings>
    <!--================================================================-->
    <!--                  General Detector Parameters                   -->
    <!--================================================================-->
    <add key="NCBCount" value="2"/>
    <add key="NCBCommandMargin" value="100"/>
    <add key="NCBCommandTries" value="10"/>
    <add key="GhostSensorCount" value="32"/>
    <add key="CargoHostServer" value="host"/>
    <add key="CargoHostPort" value="2809"/>
    <add key="DashboardPort" value="5700" />
    <add key="DisplayPort" value="5600" />
    <add key="SubsystemPort" value="5601" />
    <add key="DataAcqServer" value="192.168.0.33"/>
    <add key="DataAcqCommandPort" value="45296"/>
    <add key="DataAcqStreamPort" value="45196"/>
    <add key="AllowedIPList" value="Host;Dashboard;Dashboard1;Dashboard2;Dashboard3;Dashboard4;OCR;AWS1"/>
    <add key="Alias" value="Detectors"/>
    <add key="TagGroup" value="DetectorsGroupPortal"/>
    <add key="ShowDebugDisplays" value="true"/>
    <add key="HostTempFileLocation" value="\\HOST\temp"/>
    <add key="XrayOffLineThreshold" value="35000" />

    <!--================================================================-->
    <!--                   Detector Board Parameters                    -->
    <!--================================================================-->
    <!-- Number of bytes per pixel -->
    <add key="BytesPerPixel" value="2"/>
    <!-- Sensors per NSB -->
    <add key="DetectorsPerBoard" value="32"/>
    <!-- Number of pixels per column (unused) -->
    <add key="PixelsPerColumn" value="2624"/>

    <!--================================================================-->
    <!--                    Normalization Parameters                    -->
    <!--================================================================-->
    <add key="NormalizeRawData" value="true"/>
    <!--value to which data should be normalized to (should be M 64000) -->
    <add key="NormConstant" value="60000"/>
    <!-- specify whether to store the Dark and Air samples in the PXE -->
    <add key="StoreAirDarkSamples" value="false"/>
    <!-- specify whether to store the computed scale factor in the PXE -->
    <add key="StoreScaleFactor" value="false"/>
    <!-- specify whether to enable reference correction when normalizing the raw data -->
    <add key="EnableReferenceCorrection" value="true"/>
    <!-- specify whether to store the reference values in the PXE -->
    <add key="StoreReferenceCorrection" value="false"/>
    <!-- specify range of detectors to use for reference adjustment -->
    <add key="ReferenceRangeLowerDetectorNum" value="9"/>
    <add key="ReferenceRangeUpperDetectorNum" value="11"/>
    <!-- specify bounds for Reference scale factor  -->
    <add key="ReferenceScaleFactorLowerLimit" value="0.1"/>
    <add key="ReferenceScaleFactorUpperLimit" value="10.0"/>

    <!--================================================================-->
    <!--                    Object Search Parameters                    -->
    <!--================================================================-->
    <!--Threshold for qualifying the data as object line.  If value is below this number it is an object 55000-->
    <add key="ObjectThreshold" value="55000"/>
    <!--Number of pixels that will qualify the data as Object lines for small objects -->
    <add key="SmallObjectSizeInPixels" value="32"/>
    <!--Number of Object lines that will qualify the data as Start Of Object -->
    <add key="NumLinesForSOO" value="100"/>
    <!-- Number of Air lines that will qualify the data as End Of Object and Air -->
    <add key="NumLinesForEOO" value="100"/>
    <!-- Starting range detector Number to start searching for Object-->
    <add key="SearchBeginDetectorNum" value="999"/>
    <!-- Ending range detector Number to start searching for Object-->
    <add key="SearchEndDetectorNum" value="2500"/>

    <!--================================================================-->
    <!--                        APCS Parameters                         -->
    <!--================================================================-->
    <add key="ApcsAddress" value="192.168.0.90"/>
    <add key="ApcsPort" value="2730"/>
    <add key="APCSCommandMargin" value="300"/>

    <add key="DualPulseFrequency" value="400"/>
    <add key="HighPulseFrequency" value="400"/>
    <add key="LowPulseFrequency" value="200"/>

    <!--Specify APCSOperatingMode, possible values - AdaptiveMobile = 1, AdaptivePortal = 2, NonAdaptiveMobile = 3, NonAdpativePortal = 4-->
    <add key="APCSOperatingMode" value="4"/>
    <!--Specify PulseWidth1Microseconds, valid only for Dual-energy configuration-->
    <add key="PulseWidth1Microseconds" value="2.3"/>
    <!--Specify PulseWidth1Microseconds, valid only for High-energy configuration-->
    <add key="PulseWidth2Microseconds" value="2.3"/>
    <!--Specify PulseWidth1Microseconds, valid only for Low-energy configuration-->
    <add key="PulseWidth3Microseconds" value="2.3"/>
    <!--Specify PulseWidth1Microseconds, valid only for Low-Low Dose configuration-->
    <add key="PulseWidth4Microseconds" value="2.3"/>
    <!--Specify AdaptiveModeTriggerRatio (float), ratio based on positioning and installtion angle of speed sensors-->
    <add key="AdaptiveModeTriggerRatio" value="1.0"/>
    <!--Specify EnableAdaptiveSpeedFeedback, possible values - true or false-->
    <add key="EnableAdaptiveSpeedFeedback" value="false"/>
    <!--Specify AdaptiveSpeedFeedbackFrequency, (float), recommended value is 5-->
    <add key="AdaptiveSpeedFeedbackFrequency" value="5"/>
    <!--Specify AdaptiveMinimumFrequency in Hz, not to be less than 20 Hz-->
    <add key="AdaptiveMinimumFrequency" value="20"/>
    <!--Specify AdaptiveMaximumFrequency in Hz, cannot exceed 400 Hz-->
    <add key="AdaptiveMaximumFrequency" value="400"/>

    <!--================================================================-->
    <!--                 Detector Connection Parameters                  -->
    <!--================================================================-->
    <add key="NCBDelayXRayPulsePeriod20nsecUnit" value="2750"/>
    <add key="NCBSignOfLifeInterval10msecUnit" value="100"/>
    <!-- Number of bytes per pixel -->
    <add key="DetectorBytesPerPixel" value="3"/>

    <!--================================================================-->
    <!--                     Calibration Parameters                     -->
    <!--================================================================-->
    <!-- specify amount of lines to collect for high energy dark data -->
    <add key="CalibrationDataLines" value="2000"/>
    <!-- specify whether to skip bad detectors -->
    <add key="CorrectForBadDetectors" value="false"/>
    <!-- Specify percent of total bad detectors detected to qualify a warning message
    and replace bad detector's value with a pervious good detectors value -->
    <add key="WarningPercentBadDetectors" value="30"/>
    <!-- Specify percent of total bad detectors detected to qualify an error message and
    not replace the bad detector's value -->
    <add key="ErrorPercentBadDetectors" value="20"/>
    <!-- Specify number of contiguous bad detectors detected to qualify an error message and
    not replace the bad detector's value -->
    <add key="MaxNumContiguousBadDetectors" value="400"/>
    <!-- specify what range and values need to be correct for scatter  -->
    <!--
    <add key="ScatterRangeLowerDetectorNum" value="33"/>
    <add key="ScatterRangeUpperDetectorNum" value="34"/>
    <add key="ScatterPixel1Correction" value="20"/>
    <add key="ScatterPixel2Correction" value="30"/>
    -->
    <!-- Determines which style of calibration should be used. The calibration types are:
      - Inline
      - Persistent
      - InlineStandstill
      -->
    <add key="CalibrateMode" value="Persistent"/>

    <!--================================================================-->
    <!--                   RealTime Viewer Parameters                   -->
    <!--================================================================-->
    <!-- For multicast use Class D address (224.0.0.1 - 239.255.255.255) -->
    <add key="RealTimeViewerMulticastIPAddress" value="229.0.0.1"/>
    <add key="RealTimeViewerDataPort" value="2222"/>
    <add key="RealTimeViewerUdpClientPort" value="12123"/>
    <!-- downscale pixels values for display, this is reduce network bandwidth -->
    <add key="RealTimeViewerPixelInterval" value="16"/>

    <!--================================================================-->
    <!--                       DiPlot Parameters                        -->
    <!--================================================================-->
    <add key="DiplotDataPort" value="3333"/>
    <add key="DiplotConnectionUri" value="net.tcp://localhost:47999/DiPlotComm/"/>
    <!-- For multicast use Class D address (224.0.0.1 - 239.255.255.255) -->
    <add key="DiplotMulticastIPAddress" value="230.0.0.1"/>
    <!-- Determines if the reference data is included in the diplot output -->
    <add key="DiplotRemoveReferenceData" value="false"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/EventsLogger"
                binding="netMsmqBinding"
                bindingConfiguration="TransactedBinding"
                contract="L3.Cargo.Communications.EventsLogger.Interfaces.IEventsLogger"/>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="TransactedBinding">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>
