<?xml version="1.0" encoding="utf-8" ?> 
<opcSection>
  <server name="opcda://localhost/KEPware.KEPServerEX.V5" channel="Ethernet-PLC" device="[PLC_PROCESSOR]">
    <tagGroup name="ScanGroup" updaterate="100">
      <tag name="SCAN_ALL_CLEAR" detail="Indicates site is clear and scans can be started." />
      <tag name="CALIBRATION_ALL_CLEAR" detail="Indicates site is clear and calibrations can be started." />
      <tag name="SCAN_IN_OBJECT" detail="Indicates that the x-rays are passing through an object." />
      <tag name="SCAN_SINGLE_MODE" detail="Indicates that the system should run in a single scan mode or a multiple scan mode." />
      <tag name="SCAN_OPERATIONAL_MODE" detail="Gets the operational mode of the system." />
      <tag name="SCAN_STATUS" detail="Gets the status of the scan system." />
      <tag name="CALIBRATION_STATUS" detail="Gets the status of the calibration." />
      <tag name="SCAN_DRIVE_POWER" detail="Gets the power state of the poclain drive system." />
      <tag name="SCAN_DRIVE_SCAN_SPEED_1" detail="Gets the preconfigured scan speed 1." />
      <tag name="SCAN_DRIVE_SCAN_SPEED_2" detail="Gets the preconfigured scan speed 2." />
      <tag name="SCAN_DRIVE_SCAN_SPEED_3" detail="Gets the preconfigured scan speed 3." />
      <tag name="SCAN_DRIVE_SCAN_SPEED_4" detail="Gets the preconfigured scan speed 4." />
      <tag name="SCAN_DRIVE_SCAN_DIRECTION" detail="Gets the direction of the scan." />
      <tag name="SCAN_DRIVE_SPEED_SELECT" detail="Gets the selected speed of the scan." />
      <tag name="SCAN_DRIVE_STATUS" detail="Gets the status of the poclain drive." />
      <tag name="SCAN_DRIVE_REALTIME_SPEED" detail="Gets the realtime speed of the scan." />
    </tagGroup>
  </server>
</opcSection>