<?xml version="1.0"?>
<tagSection>
  <tag name="SCAN_ALL_CLEAR" type="Control" />
  <tag name="CALIBRATION_ALL_CLEAR" type="Control" />
  <tag name="SCAN_IN_OBJECT" type="Information" />
  <tag name="SCAN_SINGLE_MODE" type="Information" />
  <tag name="SCAN_OPERATIONAL_MODE" type="Information" />
  <tag name="SCAN_STATUS" type="Information" />
  <tag name="CALIBRATION_STATUS" type="Information" />
  <tag name="SCAN_DRIVE_SCAN_SPEED_1" type="Information" />
  <tag name="SCAN_DRIVE_SCAN_SPEED_2" type="Information" />
  <tag name="SCAN_DRIVE_SCAN_SPEED_3" type="Information" />
  <tag name="SCAN_DRIVE_SCAN_SPEED_4" type="Information" />
  <tag name="SCAN_DRIVE_SCAN_DIRECTION" type="Information" />
  <tag name="SCAN_DRIVE_SPEED_SELECT" type="Information" />
  <tag name="SCAN_DRIVE_STATUS" type="Status">
    <tagValue value="0" type="Clear" />
    <tagValue value="1" type="Error" />
    <tagValue value="2" type="Error" />
    <tagValue value="3" type="Error" />
    <tagValue value="4" type="Error" />
    <tagValue value="5" type="Error" />
    <tagValue value="6" type="Error" />
    <tagValue value="7" type="Error" />
  </tag>
  <tag name="SCAN_DRIVE_REALTIME_SPEED" type="Information" />
</tagSection>