<?xml version="1.0" encoding="utf-8" ?>
<opcSection>

  <!--
  Automated Calibration for CX-Portal Netherlands
  PLC Tags that you care about
    CALIBRATION_SCAN (Boolean)
    CALIBRATION_STATE (counter)
    LINAC_ENERGY_TYPE (enumeration)
    LINAC_ENERGY_TYPE_STATE (enumeration)
    LINAC_TURN_ON_XRAYS (Boolean)
    SCAN_STATE (counter)

  Updates to the Software
  Presently, the software expects the Calibration to be controlled from Dashboard software.
  DetectorsApp is responsible for performing the calibration based on either the status or control
  of above mentioned tags in conjunction with the PLC.

  For the automated calibration:
    0- Expected initial condition:
          CALIBRATION_SCAN should be 0 (false/low)
          CALIBRATION_STATE should be 1
          SCAN_STATE should be 0
    1- Software toggles CALIBRATION_SCAN to 1 (true/high).
    2- PLC prepares the LinAc and turns on the LinAc high voltage.
       When the LinAc is ready, the PLC sets CALIBRATION_STATE to 0.
    3- Software (DetectorsApp) then sets CALIBRATION_STATE to 99, triggering the calibration
       process.
    4- During calibration, the value of CALIBRATION_STATE will change multiple times, and
       DetectorsApp will request the LinAc energy to be changed as well as requesting X-rays being
       turned on. The tag for turning on the LinAc is LINAC_TURN_ON_XRAYS. The tag for changing the
       LinAc energy is LINAC_ENERGY_TYPE, with LINAC_ENERGY_TYPE_STATE being a
       feedback/confirmation tag.

  Present version of Egypt software has calibration for Low Dose mode which is not supported in Holland.
  This piece of code has to be used through configuration or can be commented out right now. -->

  <!--<server name="opcda://localhost/KEPware.KEPServerEX.V5" channel="Ethernet-PLC" device="[PLC_PROCESSOR]">-->
  <!--<server name="opcda://localhost/RSLinx OPC Server" channel="[RWG" device="PLC]">-->
  <server name="opcda://localhost/RSLinx OPC Server" channel="[ETHERNET-PLC" device="PLC_PROCESSOR]">
    <tagGroup name="LinacGroup" updaterate="100">
      <!-- LINAC_ENERGY_TYPE: this unsigned integer is set by the ClearView Dashboard to specify the LinAc energy type. -->
      <tag name="LINAC_ENERGY_TYPE" type="Control" detail="Control to configure energy type" >
        <tagValue value="0" type="Dual" />
        <tagValue value="1" type="High" />
        <tagValue value="2" type="Low" />
      </tag>

      <!-- LINAC_ENERGY_TYPE_STATE: this unsigned integer is set by the ClearView Dashboard to specify the LinAc energy types that may be configured. -->
      <tag name="LINAC_ENERGY_TYPE_STATE" type="Control" detail="Control to configure energy type" >
        <tagValue value="0" type="Dual" />
        <tagValue value="1" type="High" />
        <tagValue value="2" type="Low" />
      </tag>

      <tag name="LINAC_STATE" type="Information" detail="Information about the state of the x-rays" />
      <tag name="LINAC_STATUS" type="Status;Information" detail="Status of the Linac">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
      </tag>
    </tagGroup>

    <tagGroup name="DeployGroup" updaterate="100">
      <tag name="HORIZONTAL_BOOM_ANGLE" type="Information" detail="Angle of the Horizontal Boom" />
      <tag name="HORIZONTAL_BOOM_DEPLOY_AT_POSITION" type="Information" detail="Indicates that the Horizontal Boom is in the deployed position" />
      <tag name="HORIZONTAL_BOOM_STOW_AT_POSITION" type="Information" detail="Indicates that the Horizontal Boom is in the stowed position" />
      <tag name="MAST_ANGLE" type="Information" detail="Angle of the Mast" />
      <tag name="MAST_DEPLOY_AT_POSITION" type="Information" detail="EOL switch for the Mast" />
      <tag name="MAST_STOW_AT_POSITION" type="Information" detail="EOL switch for the Mast" />
      <tag name="VERTICAL_BOOM_ANGLE" type="Information" detail="Angle of the Vertical Boom" />
      <tag name="VERTICAL_BOOM_DEPLOY_AT_POSITION" type="Information" detail="EOL switch for the Vertical Boom" />
      <tag name="VERTICAL_BOOM_STOW_AT_POSITION" type="Information" detail="EOL switch for the Vertical Boom" />
      <tag name="LINAC_DEPLOY_LHS_AT_POSITION" type="Information" detail="Position of the LINAC actuator" />
      <tag name="LINAC_DEPLOY_RHS_AT_POSITION" type="Information" detail="Position of the LINAC actuator" />
      <tag name="LINAC_STOW_AT_POSITION" type="Information" detail="Position of the LINAC actuator" />
      <tag name="DEPLOYMENT_BOOM_DIRECTION" type="Information" detail="Motion Direction of the Boom" />
      <tag name="DEPLOYMENT_LINAC_DIRECTION" type="Information" detail="Motion Direction of the Linac" />
      <tag name="DEPLOYMENT_BOOM_MOTION" type="Information" detail="Motion state of the Boom" />
      <tag name="DEPLOYMENT_LINAC_MOTION" type="Information" detail="Motion state of the Linac" />
      <tag name="DEPLOYMENT_CONTROLS" type="Control" detail="Enabling/Disabling of external control panel" />
      <tag name="DEPLOYMENT_BOOM_STATUS" type="Status" detail="Status of the Boom deployment">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
        <tagValue value="4" type="Error" />
        <tagValue value="5" type="Error" />
        <tagValue value="6" type="Error" />
        <tagValue value="7" type="Error" />
        <tagValue value="8" type="Error" />
        <tagValue value="9" type="Error" />
        <tagValue value="10" type="Error" />
        <tagValue value="11" type="Error" />
        <tagValue value="12" type="Error" />
      </tag>
      <tag name="DEPLOYMENT_LINAC_STATUS" type="Status" detail="Status of the Linac deployment">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
        <tagValue value="4" type="Error" />
        <tagValue value="5" type="Error" />
      </tag>
      <tag name="HYDRAULIC_MAIN_STATE" type="Information" detail="State of the Boom Hydraulic pump" />
      <tag name="HYDRAULIC_MAIN_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="HYDRAULIC_BOOM_STATE" type="Information" detail="State of the Boom Hydraulic pump" />
      <tag name="HYDRAULIC_BOOM_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="MAST_CYLINDER_No1_PRESSURE" type="Information" detail="Mast Hydraulic pump pressure 1" />
      <tag name="MAST_CYLINDER_No1_STATE" type="Information" detail="State of the Boom Hydraulic pump" />
      <tag name="MAST_CYLINDER_No1_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
      </tag>
      <tag name="MAST_CYLINDER_No2_PRESSURE" type="Information" detail="Mast Hydraulic pump pressure 2" />
      <tag name="MAST_CYLINDER_No2_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
      </tag>
      <tag name="HBOOM_CYLINDER_No1_PRESSURE" type="Information" detail="Horizontal boom Hydraulic pump pressure 1" />
      <tag name="HBOOM_CYLINDER_No1_STATE" type="Information" detail="State of the Boom Hydraulic pump" />
      <tag name="HBOOM_CYLINDER_No1_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
      </tag>
      <tag name="HBOOM_CYLINDER_No2_PRESSURE" type="Information" detail="Horizontal boom Hydraulic pump pressure 2" />
      <tag name="HBOOM_CYLINDER_No2_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
      </tag>
      <tag name="VBOOM_CYLINDER_No1_PRESSURE" type="Information" detail="Vertical boom Hydraulic pump pressure 1" />
      <tag name="VBOOM_CYLINDER_No1_STATE" type="Information" detail="State of the Boom Hydraulic pump" />
      <tag name="VBOOM_CYLINDER_No1_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
      </tag>
      <tag name="VBOOM_CYLINDER_No2_PRESSURE" type="Information" detail="Vertical boom Hydraulic pump pressure 2" />
      <tag name="VBOOM_CYLINDER_No2_STATUS" type="Status" detail="Status of the Boom Hydraulic pump">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
        <tagValue value="3" type="Error" />
      </tag>
      <tag name="HYDRAULIC_MAIN_PRESSURE" type="Information" detail="The main pressure for the Hydraulic pump" />
      <tag name="HYDRAULIC_LINE_PRESSURE" type="Information" detail="The line pressure for the Hydraulic pump" />
      <tag name="COMPRESSOR_STATE" type="Information" detail="The state of the compressor pump" />
      <tag name="SCAN_DRIVE_POWER_STATUS" type="Information" detail="Gets the status of the power state of the poclain drive."/>

      <tag name="HLS1_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS2_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS3_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS4_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS5_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS6_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS7_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS8_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS9_STATUS" type="Information" detail="HLS status" />
      <tag name="HLS10_STATUS" type="Information" detail="HLS status" />

      <tag name="MAST_ENCODER_POS" type="Information" detail="Mast Angle Encoder" />
      <tag name="HORIZONTAL_BOOM_ENCODER_POS" type="Information" detail="Horizontal Angle Encoder" />
      <tag name="VERTICAL_BOOM_ENCODER_POS" type="Information" detail="Vertical Angle Encoder" />
    </tagGroup>

    <tagGroup name="PowerGroup" updaterate="100">
      <tag name="POWER_GENERATOR_LOW_OIL_PRESSURE" type="Status" detail="Status of the Power Generator oil pressure">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="POWER_GENERATOR_HIGH_WATER_TEMPERATURE" type="Status" detail="Status of the Power Generator water temperature">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="POWER_GENERATOR_REQUIRES_SERVICING" type="Status" detail="Status of the Power Generator service requirements">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="POWER_KVA" type="Information" detail="The KVA of the Power Generator" />
      <tag name="POWER_KW" type="Information" detail="The KW of the Power Generator" />

      <tag name="SUPPLY_VOLTAGE_L1_L2" type="Information" detail="" />
      <tag name="SUPPLY_VOLTAGE_L1_L3" type="Information" detail="" />
      <tag name="SUPPLY_VOLTAGE_L2_L3" type="Information" detail="" />
      <tag name="SUPPLY_AMPS_L1" type="Information" detail="" />
      <tag name="SUPPLY_AMPS_L2" type="Information" detail="" />
      <tag name="SUPPLY_AMPS_L3" type="Information" detail="" />

      <tag name="POWER_VOLTAGE_UNBALANCED" type="Status" detail="Status of the Power Generator voltage">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
    </tagGroup>

    <tagGroup name="SafetyGroup" updaterate="100">
      <tag name="PERIMETER_MODE" detail="Sets the current perimeter mode to arm, standy, disabled" type="Control" />
      <tag name="PERIMETER_INTRUSIONS_STATE" detail="Status of perimeter intrusions detection" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Warning" />
        <tagValue value="3" type="Warning" />
        <tagValue value="4" type="Warning" />
        <tagValue value="5" type="Warning" />
        <tagValue value="6" type="Warning" />
        <tagValue value="7" type="Warning" />
        <tagValue value="8" type="Warning" />
        <tagValue value="9" type="Warning" />
        <tagValue value="10" type="Warning" />
        <tagValue value="11" type="Warning" />
        <tagValue value="12" type="Warning" />
        <tagValue value="13" type="Warning" />
        <tagValue value="14" type="Warning" />
        <tagValue value="15" type="Warning" />
      </tag>

      <tag name="V_MUX_SIGN_OF_LIFE" detail="Status of V-MUX system" type="Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      <tag name="ASI_CP3_SAFETY_RELAY_CHANNEL_1_HEALTHY" detail="Status of ASI CP module" type="Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      <tag name="ASI_CP3_SAFETY_RELAY_CHANNEL_2_HEALTHY" detail="Status of ASI CP module" type="Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      <tag name="ASI_CP5_SAFETY_RELAY_CHANNEL_1_HEALTHY" detail="Status of ASI CP module" type="Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      <tag name="ASI_CP5_SAFETY_RELAY_CHANNEL_2_HEALTHY" detail="Status of ASI CP module" type="Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      <tag name="ASI_CP9_SAFETY_RELAY_CHANNEL_1_HEALTHY" detail="Status of ASI CP module" type="Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      <tag name="ASI_CP9_SAFETY_RELAY_CHANNEL_2_HEALTHY" detail="Status of ASI CP module" type="Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      <tag name="SAFETY_RESET" detail="Resets all safety systems" type="Control" />

      <tag name="ESTOP_DRIVERS_CAB" detail="Status of driver's cabin E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_OPERATOR_AREA" detail="Status of operators area E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_LINAC_AREA" detail="Status of LINAC area E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_INDUSTRIAL_AREA" detail="Status of industrial area E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_FRONT_LEFT"  detail="Status of front left door E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_FRONT_RIGHT" detail="Status of front right door E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_REAR_LEFT" detail="Status of rear left door E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_REAR_RIGHT" detail="Status of rear right door E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_ROOF_MAST" detail="Status of room mast E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_VERTICAL_BOOM" detail="Status of vertical boom E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_CLICKER" detail="Status of site marshal clicker" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>

      <tag name="INTERLOCK_BYPASS" detail="Set all interlocks to be bypassed" type="Control" />
      <tag name="INTERLOCK_LEFT_CABIN_DOOR" detail="Status of left cabin front door interlock" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="INTERLOCK_RIGHT_CABIN_DOOR" detail="Status of right cabin front door interlock" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="INTERLOCK_FOOT_BRAKE" detail="Status of right cabin front door interlock" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>

      <tag name="BCN1A_STATUS" detail="Status of red#1 warning light" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="BCN1B_STATUS" detail="Status of red#2 warning light" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="BCN2A_STATUS" detail="Status of red#3 warning light" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="BCN2B_STATUS" detail="Status of red#4 warning light" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="BCN5_STATUS" detail="Status of red#5 warning light" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Error" />
      </tag>

      <tag name="HORIZONTAL_BOOM_ANGLE" type="Information" detail="Angle of the Horizontal Boom" />
      <tag name="HORIZONTAL_BOOM_DEPLOY_AT_POSITION" type="Information" detail="EOL switch for the Horizontal Boom" />
      <tag name="HORIZONTAL_BOOM_STOW_AT_POSITION" type="Information" detail="EOL switch for the Horizontal Boom" />
      <tag name="MAST_ANGLE" type="Information" detail="Angle of the Mast" />
      <tag name="MAST_DEPLOY_AT_POSITION" type="Information" detail="EOL switch for the Mast" />
      <tag name="MAST_STOW_AT_POSITION" type="Information" detail="EOL switch for the Mast" />
      <tag name="VERTICAL_BOOM_ANGLE" type="Information" detail="Angle of the Vertical Boom" />
      <tag name="VERTICAL_BOOM_DEPLOY_AT_POSITION" type="Information" detail="EOL switch for the Vertical Boom" />
      <tag name="VERTICAL_BOOM_STOW_AT_POSITION" type="Information" detail="EOL switch for the Vertical Boom" />

      <tag name="LINAC_DEPLOY_LHS_AT_POSITION" type="Information" detail="Position of the left hand side LINAC actuator" />
      <tag name="LINAC_DEPLOY_RHS_AT_POSITION" type="Information" detail="EOL switch for the Linac" />
      <tag name="LINAC_STOW_AT_POSITION" type="Information" detail="EOL switch for the Linac" />

      <tag name="ASI_MODULE_1" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_2" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_3" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_4" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_5" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_6" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_7" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_8" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_9" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_10" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_11" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_12" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_13" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_14" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_15" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_16" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_17" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_18" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_19" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_20" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_21" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_22" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_23" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_24" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_25" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_26" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_27" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_28" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_29" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_30" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="ASI_MODULE_31" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>

      <tag name="COLLISION_HEIGHT_SENSOR_STATE" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="COLLISION_WIDTH_SENSOR_STATE" detail="Status of asi module" type="Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>

      <tag name="BOOM_SIREN_ENABLE" detail="Sets the boom siren to have sound or not" type="Control" />

      <tag name="RADIATION_MONITOR" detail="Status of the radiation in the cabin" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>

    </tagGroup>

    <tagGroup name="ScanGroup" updaterate="100">
      <tag name="SCAN_AREA_CLEAR" type="Control" detail="Indicates site is clear and scans can be started." />

      <!-- CALIBRATION_SCAN: this bit is set high to indicate that the next scan line should be a
      calibration scan. This bit shall stay high until the calibration scan has been completed.
      This bit is set low to indicate that the next scan should be a regular scan. This bit shall
      stay low as long as a calibration scan has not been requested. This bit shall be set high by
      the ClearView Dashboard and set low by the PLC. -->
      <tag name="CALIBRATION_SCAN" type="Control" detail="Indicates the next scan should be a calibration." />

      <tag name="PORTAL_OBJECT_FOUND" type="Information" detail="Indicates that the portal sensor has found an object." />
      <tag name="SCAN_MULTIPLE_OBJECTS" type="Information" detail="Indicates that the system should run in a single scan mode or a multiple scan mode." />

      <!-- SCAN_STATE: this unsigned integer is set by the PLC to announce the scan state. -->
      <tag name="SCAN_STATE" type="Information" detail="Gets the status of the scan system." >
        <tagValue value="0" type="Scan Ready" />
        <tagValue value="1" type="Scan Not Ready" />
        <tagValue value="2" type="Scanning" />
      </tag>

      <!-- CALIBRATION_STATE: this unsigned integer is set by the PLC to announce the calibration state. -->
      <tag name="CALIBRATION_STATE" type="Information" detail="Gets the status of the calibration." >
        <tagValue value="0" type="Calibration ready to be performed" />
        <tagValue value="1" type="Calibration not ready to be performed" />
        <tagValue value="2" type="Calibration failed" />
        <tagValue value="3" type="Calibrating high energy" />
        <tagValue value="4" type="Calibration high energy complete" />
        <tagValue value="5" type="Calibrating low energy" />
        <tagValue value="6" type="Calibration low energy complete" />
        <tagValue value="7" type="Calibrating dual energy" />
        <tagValue value="8" type="Calibrating dual energy complete" />
        <tagValue value="9" type="Calibration completed" />
        <tagValue value="10" type="Calibrating dark data" />
        <tagValue value="11" type="Calibration dark data complete" />
      </tag>

      <tag name="SCAN_DRIVE_DIRECTION" type="Information" detail="Gets the direction of the scan." />
      <tag name="SCAN_DRIVE_SELECTED_SPEED" type="Information" detail="Gets the selected speed of the scan." />
      <tag name="SCAN_DRIVE_STATE" type="Information" detail="Gets the status of the poclain drive." />
      <tag name="SCAN_DRIVE_SIGN_OF_LIFE" type="Status" detail="Gets the status of the poclain drive.">
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>

      <!--
      <tag name="SCAN_DRIVE_POWER_STATUS" type="Status" detail="Gets the status of the power state of the poclain drive.">
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
      </tag>
      -->
      <tag name="SCAN_DRIVE_HAND_BRAKE" type="Status" detail="Gets the status of the hand brake.">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="SCAN_DRIVE_SPEED_FAILURE" type="Status" detail="Gets the status of the of the poclain drive speed information.">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="SCAN_DRIVE_HYDRAULIC_OIL_TEMPERATURE" type="Information" detail="Gets the temperature of the hydraulic oil." />
      <tag name="SCAN_DRIVE_HYDRAULIC_OIL_LEVEL" type="Information" detail="Gets the level of the hydraulic oil." />
      <tag name="SCAN_DRIVE_REALTIME_SPEED" type="Information" detail="Gets the realtime speed of the scan." />
      <tag name="SITE_READY_NEXT_SCAN" type="Information" detail="Allows the driver to click the allow scan button." />
      <tag name="WIRELESS_CTRL_BYPASS" type="Control" detail="Bypasses the site marshall remote (wireless clicker)." />
    </tagGroup>

    <tagGroup name="DetectorsGroup" updaterate="100">
      <tag name="SCAN_DRIVE_STATE" type="Information" detail="Gets the status of the poclain drive." />
      <tag name="CALIBRATION_SCAN" type="Information" detail="Indicates the next scan should be a calibration." />
      <tag name="CALIBRATION_STATE" type="Information" detail="Gets the status of the calibration." />

      <!-- LINAC_ENERGY_TYPE: this unsigned integer is set by the ClearView Dashboard to specify the LinAc energy types. -->
      <tag name="LINAC_ENERGY_TYPE" type="Control" detail="Control to configure energy type" >
        <tagValue value="0" type="Dual" />
        <tagValue value="1" type="High" />
        <tagValue value="2" type="Low" />
      </tag>

      <tag name="LINAC_STATE" type="Information" detail="Information about the state of the x-rays" />
      <tag name="START_SCAN" type="Information" detail="Information about the state of the scan process" />
      <tag name="HOST_STOP_SCAN" type="Information" detail="Information about the state of the scan process" />
      <tag name="SCAN_AREA_CLEAR" type="Information" detail="Indicates site is clear and scans can be started." />

      <!-- LINAC_TURN_ON_XRAYS: this bit is set high to indicate that X-rays should be turned on.
      This bit shall stay high while X-rays are needed; the energy configuration is specified by
      the LINAC_ENERGY_TYPE tag (not LINAC_ENERGY_TYPE_STATE, which is an aknowledger).
      LINAC_TURN_ON_XRAYS is set low to indicate that X-rays should be turned off. This bit shall
      remain low while X-rays are not needed. This bit is set high and low by the ClearView
      Dashboard. -->
      <tag name="LINAC_TURN_ON_XRAYS" type="Information" detail="Indicates site is clear and scans can be started." />
    </tagGroup>

    <tagGroup name="SafetyGroupPortal" updaterate="100">
      <!-- Updated Safety Group tags for the Portal -->
      <tag name="ESTOP_OPERATORS_CONSOLE" detail="Status of operator's console E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_XRAY_SOURCE_AREA" detail="Status of X-ray source area E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_TUNNEL_ENTRY_RIGHT" detail="Status of tunnel entry right E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_TUNNEL_ENTRY_LEFT" detail="Status of tunnel entry left E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_TUNNEL_EXIT_RIGHT" detail="Status of tunnel exit right E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_TUNNEL_EXIT_LEFT" detail="Status of tunnel exit left E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="ESTOP_VERT_DETECTOR_BOX"  detail="Status of vertical detector box E-Stop" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>

      <tag name="INTERLOCK_DOOR" detail="Status of LINAC room door interlock" type="Information;Status" >
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="INTERLOCK_KSW_XRAY_ENABLE" detail="Status of X-ray enable keyswitch" type="Information;Status">
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Warning" />
      </tag>

      <!-- Light Emitters Curtain's -->
      <tag name="INTERLOCK_LC1" detail="Status of personnel safety light curtain #1" type="Information;Status">
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="INTERLOCK_LC2" detail="Status of personnel safety light curtain #2" type="Information;Status">
        <tagValue value="0" type="Error" />
        <tagValue value="1" type="Clear" />
        <tagValue value="2" type="Warning" />
      </tag>

      <tag name="INTERLOCK_MDS_PERSONNEL_SAFETY_1" detail="Status of personnel motion detector #1" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="INTERLOCK_MDS_PERSONNEL_SAFETY_2" detail="Status of personnel motion detector #2" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
        <tagValue value="2" type="Warning" />
      </tag>
      <tag name="IN_MDS3_VEHICLE_MOTION_DET" detail="Status of vehicle motion detector #3" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>
      <tag name="IN_MDS4_VEHICLE_MOTION_DET" detail="Status of vehicle motion detector #4" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>

      <!-- Traffic Lights -->
      <tag name="TRAFFIC_LIGHT_STATUS" detail="Status of the green traffic light" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Error" />
      </tag>

      <!-- Vehicle Sensor Status -->
      <tag name="VEHICLE_SENSOR_BEFORE_XRAY_LEFT" detail="Status of the vehicle sensor before xray (left)" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="VEHICLE_SENSOR_BEFORE_XRAY_RIGHT" detail="Status of the vehicle sensor before xray (right)" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="VEHICLE_SENSOR_AFTER_XRAY_LEFT" detail="Status of the vehicle sensor after xray (left)" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="VEHICLE_SENSOR_AFTER_XRAY_RIGHT" detail="Status of the vehicle sensor after xray (right)" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="VEHICLE_SENSOR_AT_GATE_RIGHT" detail="Status of the vehicle sensor at the gate (right)" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>
      <tag name="VEHICLE_SENSOR_AT_GATE_LEFT" detail="Status of the vehicle sensor at the gate (left)" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>

      <!-- Bar Code Sensor Status -->
      <tag name="BARCODE_READ" detail="Status of the Barcode" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
        <tagValue value="2" type="Error" />
      </tag>

      <!-- Doppler Radar Sensor Status -->
      <!--tag name="DOPPLER_RADAR_SENSOR_RIGHT" detail="Doppler Radar Sensor (Exit Right)" type="Information"/-->
      <!--tag name="DOPPLER_RADAR_SENSOR_LEFT" detail="Doppler Radar Sensor (Exit Left)" type="Information"/-->

      <!-- Distance Measurment Sensor Status -->
      <tag name="VEHICLE_TYPE" detail="Status of the distance measurement sensor (left)" type="Information;Status">
        <tagValue value="0" type="NoDetection" />
        <tagValue value="1" type="Small" />
        <tagValue value="2" type="Medium" />
        <tagValue value="2" type="Large" />
      </tag>

      <tag name="OUT_POWER_ON_LAMP" detail="Power On Lamp at Operator Console" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>

      <!-- Beacon information -->
      <tag name="OUT_GREEN_BEACON" detail="System Power On status" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="OUT_AMBER_BEACON" detail="HV On Ready to Scan" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="OUT_RED_BEACON" detail="LINAC X-rays On" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="OUT_XRAY_PREWARN_SOUNDER" detail="LINAC High Voltage On Warning Horn" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="OUT_XRAY_ON_SOUNDER" detail="LINAC X-rays On Warningn Horn" type="Information;Status">
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>

      <!-- Tags that are not needed, but need to check
      <tag name="INTERLOCK_BYPASS" detail="Controls bypassing of interlocks" type="Control" />
      <tag name="KSW_INTERLOCK_BYPASS" detail="Status of safety interlock bypass keyswitch" type="Information;Status" >
        <tagValue value="0" type="Clear" />
        <tagValue value="1" type="Warning" />
      </tag>
      <tag name="SAFETY_RESET" detail="Resets all safety systems" type="Control" />
      -->
    </tagGroup>

    <tagGroup name="ScanGroupPortal" updaterate="100">
      <tag name="SCAN_OPERATIONAL_MODE" type="Information" detail="Indicates the the scan operational mode system is in." />
      <tag name="SCAN_AREA_CLEAR" type="Control" detail="Indicates site is clear and scans can be started." />
      <tag name="CALIBRATION_SCAN" type="Control" detail="Indicates the next scan should be a calibration." />
      <tag name="PORTAL_OBJECT_FOUND" type="Information" detail="Indicates that the portal sensor has found an object." />
      <tag name="SCAN_MULTIPLE_OBJECTS" type="Information" detail="Indicates that the system should run in a single scan mode or a multiple scan mode." />
      <tag name="SCAN_STATE" type="Information" detail="Gets the status of the scan system." />
      <tag name="CALIBRATION_STATE" type="Information" detail="Gets the status of the calibration." />
      <tag name="SCAN_DRIVE_REALTIME_SPEED" type="Information" detail="Gets the realtime speed of the scan." />
    </tagGroup>

    <tagGroup name="DetectorsGroupPortal" updaterate="100">
      <tag name="SCAN_OPERATIONAL_MODE" type="Information" detail="Indicates the the scan operational mode system is in." />
      <tag name="CALIBRATION_SCAN" type="Information" detail="Indicates the next scan should be a calibration." />
      <tag name="CALIBRATION_STATE" type="Information" detail="Gets the status of the calibration." />
      <tag name="LINAC_ENERGY_TYPE_STATE" type="Information" detail="Control to configure energy type" />
      <tag name="LINAC_STATE" type="Information" detail="Information about the state of the x-rays" />
      <tag name="START_SCAN" type="Information" detail="Information about the state of the scan process" />
      <tag name="HOST_STOP_SCAN" type="Information" detail="Information about the state of the scan process" />
      <tag name="SCAN_AREA_CLEAR" type="Information" detail="Indicates site is clear and scans can be started." />
      <tag name="LINAC_TURN_ON_XRAYS" type="Information" detail="Indicates site is clear and scans can be started." />
    </tagGroup>

    <tagGroup name="ShutDownGroup" updaterate="100">
      <tag name="COMPUTER_SYSTEM_SHUTDOWN" type="Information" detail="Indicates that the computer systems should shutdown." />
    </tagGroup>
  </server>
</opcSection>